<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  (onContextMenuPreparing)="onContextMenuPreparing($event)"
>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Title"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Country"></dxi-data-grid-column>

  <dxo-data-grid-paging [pageSize]="10"> </dxo-data-grid-paging>
  <dxo-data-grid-pager
    [visible]="true"
    [allowedPageSizes]="allowedPageSizes"
    [showPageSizeSelector]="true"
  >
  </dxo-data-grid-pager>

  <dxo-data-grid-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
  </dxo-data-grid-editing>
</dx-data-grid>
